@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}


/*-----------------
 Animation
 ----------------*/
 
@keyframes blinking {
            
    0% {
        background-color: green;
    }
    50% {
        background-color: red;
    }

    100% {
        background-color: blueviolet;
    }
    
}
.game-info a>.watch-live-button {
    animation: blinking 2s linear infinite alternate;
    animation-play-state: running;
}


/*---------------
 Header Design
 ----------------*/
.top-banner {
    margin:10px 140px 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;

}
.game-info {
    color: white;
    margin-left: 106px;
    margin-bottom: 0;
}
.game-info h1 {
    font-size: 52px;
    margin: 0;
}
.game-info p{
    font-size: 14px;
}
.game-info a{
    text-decoration: none;
    color: white;
    display: block;
}
.watch-live-button {
    padding: 2px 15px;
    background-color: #DD0000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 115px;
}
.fa-angle-right {
    color: white;
    font-weight: 700;
    padding: 5px 40px;
    display: block;
    padding: 0 0 0 15px;
}
.player-image {
    margin-top: 33px;
    margin-left: 24px;
    margin-right: 79px;
}
.player-image img {
    height: 413px;
    position: relative;
    top: 6px;
}

/*-------------------
 main section style
 -------------------- */
 main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 20px;
    margin: 0 200px 100px;
}

/*------------------
 aside section style
 ------------------- */
aside{
    margin: 0;
    width: 312px;
}
.side-nav{
    text-align: center;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}
.side-nav a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    display: block;
    margin: 25px;
    border-radius: 10px;
}

/*----------------------
 article section style
 -----------------------*/

article{
    margin: 0  240px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}
.thumbnail {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.thumbnail img {
    width: 100%;
}
.blog-info{
    padding-left: 20px;
    padding-bottom: 20px;
}
.blog-info p{
    border: 1px solid black;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}
.fa-clock, .fa-comment-dots{
    margin-right: 5px;
}
.icons span {
    margin-right: 35px;
}


/*-------------------
upcoming match style
---------------------*/
.up-match {
    margin: 0;
}

.flags {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    width: 204px;
}
.vs-thumbs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.vs-thumbs img{
    width: 69.04px;
    height: 44.18px;
}
.vs-span {
    margin: 0 -15px;
}
.match-info {
    text-align: center;
    margin-bottom: 50px;
}
.match-info span {
    color: #4D4D4D;
    font-size: 12px;
}


.view-all-button {
    display: none;
    background-color: #DD0000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}



/*--------------
 footer style
 --------------- */
 footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
 }

 footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
 }
 footer a{
    color: #B9B9B9;
    text-decoration: none;
    padding: 30px;
 }
 .social-media-icon {
    margin: 20px 0 0;
    padding-bottom: 10px;
 }
.fa-brands {
    margin: 30px;
    font-size: 30px;

}




/*---------------
 Media Queries
 ---------------- */

/* Mobile Devices */
@media only screen and (max-width: 576px) {
        .top-banner {
            margin: 30px 20px 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .game-info {
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .game-info h1,p{
            text-align: center;
            font-size: 32px;
        }
        .game-info p{
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
        }
        .watch-live-button {
            justify-content: space-between;
            width: 80px;
        }
        .player-image {
            margin-left: 60px;
            margin-right: 0;
        }
        .player-image img {
            height: 300px;
        }
        aside {
            width: 100%;
        }
        main {
            grid-template-columns: repeat(1,1fr);
            justify-content: center;
            row-gap: 20px;
            margin: 0 5% 100px;
        }
        .side-nav {
            display: flex;
            flex-direction: column;
            background-color: white;
            margin: -50px 0px 0px 0px;
        }
        .side-nav a {
            padding: 10px 5%;
            border: 1px solid rgba(96, 95, 95, 0.507);
            margin: 2% 20%;
        }
        article {
            grid-template-columns: repeat(1,1fr);
        }
        .transfer {
            font-size: 20px;
        }

        footer a {
            padding: 15px;
        }
        .quick-nav-links {
            display: flex;
            flex-direction: column;
        }

        .up-match {
            justify-items: center;
        }
        .flags {
            width: 360px;
        }

        .vs-thumbs img {
            width: 93.04px;
            height: 56.18px;
        }

}

/* Tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .top-banner {
        margin: 35px 35px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        margin: 0 4% 100px;
    }
    aside {
        width: 100%;
    }
    .watch-live-button {
        justify-content: space-between;
        width: 80px;
    }
    .side-nav {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
    }
    .side-nav a {
        padding: 10px 5%;
        border: 1px solid rgba(96, 95, 95, 0.507);
        margin: 0 5%;
    }
    .game-info {
        margin-left: 76px;
        margin-bottom: 61px;
        margin-top: 61px;
    }
    .game-info h1 {
        font-size: 30px;
    }
    .game-info p{
        font-size: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .player-image {
        margin-right: 10px;
        margin-left: 27px;
    }
    .player-image img {
        height: 300px;
    }
    article {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    #tab-display-none {
        display: none;
    }
    .view-all-button {
        display: block;
        margin: 30px 40% 0;
    }

    .quick-nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .up-match {
        justify-items: center;
    }

    .flags {
        width: 340px;
    }

    .vs-thumbs img {
        width: 93.04px;
        height: 56.18px;
    }
}